# Editor files
.idea/
*.iml
# Node files
node_modules/
.tscache/
# Library files, unneeded in development 'cause they can be generated with grunt
# include or not include?
lib/
# include or not include?
bundle/
package-lock.json